<div class="subjects">
<h1> ALL Subjects! </h1>
<TABLE>
  <thead>
    <tr>
      <th>Subject:</th>
    </tr>
  </thead>
  <tbody class = "post">
    <% @subjects.each do |item| %>
      <tr>
        <td><a href="/deck/<%= item.id%>/card"><%= item.subject%></a></td>
      </tr>
    <% end %>
  </tbody>
</TABLE>
</div>


<a class ="userprofilelink" href="/user/<%= current_user.id%>/stats">User Profile</a> 
