<%=@card.defenition%>

<p>we have to show a card here<p>

<form action="/response" method="POST">
  <label for="answer">Your Answer</label>
  <input id="answer" type="text" name="username"><br>
  <input type="Submit">
</form>
