<div class="user_stat">
  <h1>Stats for <%=current_user.username%></h1>
    <TABLE>
    <thead>
      <tr>
        <th>Stats</th>
      </tr>
    </thead>
    <tbody class = "stats">
      <th># of correct guesses
        <tr>
          <td>test</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </th>
      <th># of wrong Guesses
        <tr>
          <td>test</td>
        </tr>
      </th>
      <th>% of something
        <tr>
          <td>% of right</td>
        </tr>
        <tr>
          <td>% of wrong</td>
        </tr>
      </th>
    </tbody>
  </TABLE>
  </div>


<a class ="link" href="/home">Back to Game Home</a>
<a class ="logout" href="/logout">logout</a>
</div>
